@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove as setas de incremento/decremento dos campos numéricos em todo o sistema */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
